@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');*/

html {
    min-height: 100%;
}

body {
    background: #171717;
    background: linear-gradient(357deg, #0f0713, #171717);
    width: 100%;
    margin: 0;
    /*font-family: Calibri, sans-serif;
    font-family: 'Roboto', Calibri, sans-serif;
    font-family: 'Roboto Condensed', Calibri, sans-serif;
    font-family: 'Source Sans Pro', serif;
    font-family: 'Sora', serif;*/
    font-family: 'Quicksand', Calibri, Arial, Helvetica, sans-serif;
}

.banner {
    background: url(../media/img/hypercube.png) no-repeat top center;
    height: 200px;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.header-spacer {
    height: 20px;
}

.header {
    margin-top: 5px;
    padding: 0 20px;
}

.logo img, svg {
    max-width: 250px;
    width: 100%;
    position: absolute;
}

.logo img {
    filter: drop-shadow(0px 0px 19px rgb(255 255 255 / 0.6));
}

.nav-wrapper {
    width: 100%;
    position: sticky;
    top: -1px;
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    font-size: 15px;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, .1);
}

    nav .sel {
        color: #bbb;
        background: rgba(0, 0, 0, .35);
        color: black;
        background: rgba(255, 255, 255, .6);
    }

    nav a {
        text-decoration: none;
        padding: 20px 20px;
        letter-spacing: 2px;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background .3s;
        font-weight: bold;
        background: rgba(0, 0, 0, .7);
        /*fallback for browsers not supporting backdrop-filter*/
        color: white;
    }

        nav a:hover {
            background-color: rgba(0, 0, 0, .5);
            color: white;
        }

@supports ((backdrop-filter: blur(4px)) or (-webkit-backdrop-filter: blur(4px))) {
    nav {
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

        nav a {
            background: rgba(0, 0, 0, .15);
        }
}

.is-pinned {
    background: rgba(255, 255, 255, .86);
}

    .is-pinned nav a {
        background: transparent;
        color: black;
    }

        .is-pinned nav a:hover {
            background: rgba(0, 0, 0, .17);
        }

    .is-pinned nav {
        box-shadow: none;
    }

    .is-pinned .sel {
        background: rgba(0, 0, 0, .26);
        color: white;
    }

.menu-button {
    padding: 5px;
    border-radius: 2px;
    display: none;
    margin-right: 20px;
    transition: .3s;
}

    .menu-button span, .menu-button::after, .menu-button::before {
        content: '';
        background: black;
        height: 2px;
        width: 20px;
        display: block;
        margin: 6px;
    }

.menu-open-button {
    background: rgba(255, 255, 255, .84);
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, .34);
    margin-bottom: 19px;
}

.is-pinned .menu-open-button {
    background: transparent;
    box-shadow: none;
}

.menu-open-button:hover {
    background: rgba(255, 255, 255, .7);
}

.menu-open-button:active {
    background: rgba(255, 255, 255, .5);
}

.menu-close-button {
    float: right;
    height: 30px;
    padding-top: 8px;
    margin-bottom: 4px;
}

    .menu-close-button span {
        display: none;
    }

    .menu-close-button:hover {
        background: rgba(0, 0, 0, .40);
    }

    .menu-close-button:active {
        background: rgba(0, 0, 0, .70);
    }

    .menu-close-button::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 0px;
        position: relative;
        top: 8px;
    }

    .menu-close-button::after {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .menu-close-button::before, .menu-close-button::after {
        background: black;
        width: 25px;
    }

.main-wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 2em auto;
    margin-top: 136px;
}

main {
    padding: 8px;
    line-height: 1.8;
    font-size: 16px;
    color: #f0f0f0;
    text-align: justify;
    align-items: center;
    margin-bottom: 6rem;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .img-container img {
        max-width: 100%;
        box-shadow: 0 0 9px 2px black;
        image-rendering: -webkit-optimize-contrast;
    }

.two_col_container {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 30px;
}

main .sub-heading {
    font-size: 17px;
}

h1 {
    font-size: 17px;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h2 {
    font-size: 17px;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.plugin-page-plugin-name {
    font-size: 24px;
    text-align: center;
}

.plugin-page-title {
    font-size: 20px;
    text-align: center;
}

.glow1 {
    color: #9bc7d4;
    text-shadow: 0 0 8px rgba(126, 198, 220, .9);
    font-weight: normal;
}

.glow2 {
    color: #cea4ea;
    text-shadow: 0 0 12px rgba(188, 124, 232, .9);
    font-weight: normal;
}

a.mhref {
    color: #9c9595;
    transition: background-color .3s,color .3s;
    border-radius: 4px;
    padding: 3px;
}

    a.mhref:active {
        color: #211c1c;
    }

    a.mhref:visited {
        color: #8a8383;
    }

    a.mhref:hover {
        color: #bdb6b6;
        background-color: rgba(255, 255, 255, 0.11);
    }

.mhref-isolated {
    padding: 4px 10px;
    text-decoration: none;
    background: rgba(255, 255, 255, .92);
    box-shadow: 1px 2px 20px 1px black;
    color: #040202;
    text-transform: uppercase;
    margin: 2em 0;
    display: inline-block;
    transition: background-color .3s,color .3s;
}

    .mhref-isolated:hover {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 1px 2px 20px 11px black;
    }

    .mhref-isolated:active {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 1px 2px 20px 11px black;
    }


#vst-compatible-logo {
    width: 150px;
}

footer {
    font-size: 13px;
    color: #ddd;
}

/**************************************************************************************/
/**************************************************************************************/

@media screen and (max-width: 900px) {
    .menu-button {
        display: block;
    }

    nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
        box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, .1) !important;
    }

    .nav-inner-wrapper {
        width: 100%;
        height: 0;
        background: white;
        position: fixed;
        top: 0px;
        overflow: hidden;
        transition: .8s;
        left: 0;
    }

    nav a {
        padding: 15px 10px;
        background: transparent;
        color: black;
    }

    nav .sel {
        background: rgba(0, 0, 0, .26);
        color: white;
    }

    .nav-is-open {
        height: 100%;
        padding-top: 30px;
    }
}

@media screen and (max-width: 800px) {
    .two_col_container {
        display: block;
    }

    #vst-compatible-logo {
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .main-wrapper {
        width: 90%;
        margin-top: 165px;
    }

    .logo {
        filter: contrast(1.9);
    }

    main p {
        margin-block-start: 2em;
        margin-block-end: 2em;
    }
}

@media screen and (max-width: 450px) {
    main {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        display: flex;
        justify-content: center;
    }

        .logo img, svg {
            margin-top: 52px;
        }
}
